{% extends "layout.html" %}
{% block content %}
<section class="bg-dark text-white py-5 shadow-sm" style="margin-top: 70px;">
    <div class="container text-center">
        <h1 class="display-4 font-weight-bold">Nuestra Identidad</h1>
        <p class="lead">Ingeniería con precisión desde 2025.</p>
    </div>
</section>
<section class="py-5 bg-white">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h2 class="font-weight-bold mb-4 text-danger">¿Quiénes somos?</h2>
                <p>En <strong>M&C Ingeniería Integrada</strong>, somos ingenieros que garantizan durabilidad y cumplimiento técnico en cada sol invertido.</p>
            </div>
            <div class="col-md-6 text-center">
                <img src="https://images.unsplash.com/photo-1581094794329-c8112a89af12?q=80&w=800" class="img-fluid rounded shadow">
            </div>
        </div>
    </div>
</section>
{% endblock %}